@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container {
    width:100%;
    height:100vh;
    padding:10px;
    display:flex;
    align-items: center;
    gap:10px;
}

.container aside{
    width:max-content;
    padding:10px;
    height:100%;
    background:#4800ce;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
    gap:25px;
}

.container aside .menuItems .menuList{
    list-style:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
    gap:10px;
}

.container aside .menuItems .menuList li{
    color:#fff;
    font-size:0.8rem;
    cursor:pointer;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
    padding:10px;
    gap:5px;
    border-radius:5px;
    text-align: center;;
}

.container aside .menuItems .menuList li .menu-title{
    font-family: 'Bree Serif', serif;
    pointer-events: none;
}
.container aside .menuItems .menuList li .material-symbols-rounded,
.container aside .menuItems .menuList li .material-symbols-outlined{
    pointer-events: none;
}

.container aside .menuItems .menuList li:hover .material-symbols-rounded,
.container aside .menuItems .menuList li:hover .material-symbols-outlined{
    color:#c490ff;
}

.container aside .menuItems .menuList li:hover .menu-title{
    color:#c490ff;
}

.container aside .menuItems .menuList li.active,
.container aside .menuItems .menuList li.active .material-symbols-rounded,
.container aside .menuItems .menuList li.active .material-symbols-outlined{
    background:#fff;
    color:#270062;
}

.container aside .logout{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
    gap:5px;
    cursor:pointer;
    padding:2px 5px;
    border-radius:10px;
    font-family: 'Bree Serif', serif;
    transition:0.1s ease-out;
}

.container aside .logout:hover{
    background:#d9c6ff;
}

.container aside .logout .menu-title{
    color:#e6d6ff;
}

.container aside .logout:hover .menu-title,
.container aside .logout:hover span{
    color:#18003d;
}

.container aside .logout span{
    color:#e6d6ff;
    font-size:1.5rem;
}

/* Menu Item section Separator */
.container .menuItem-sectionSep{
    width:200px;
    height:100%;
    background:#c398ff;
    border-radius:10px;
    display:none;
    padding:20px 0;
    text-align:center;
}

.container .menuItem-sectionSep .addStore-tickets,
.container .menuItem-sectionSep .tickets{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.container .menuItem-sectionSep .addStore-tickets input,
.container .menuItem-sectionSep .tickets input{
    display:none;
}

.container .menuItem-sectionSep .addStore-tickets label,
.container .menuItem-sectionSep .tickets label{
    color:#5b22ab;
    cursor:pointer;
    display:block;
    width:100%;
    padding:5px 0;
    font-size:1.2rem;
    border-top:1px solid #3b0084;
    font-family: 'Righteous', cursive;
    transition:0.15s ease-out;
}

.container .menuItem-sectionSep .addStore-tickets label:last-of-type,
.container .menuItem-sectionSep .tickets label:last-of-type{
    border-bottom:1px solid #3b0084;
}

.container .menuItem-sectionSep .addStore-tickets label:hover,
.container .menuItem-sectionSep .tickets label:hover{
    background:#8e46fb;
}
.container .content{
    width:100%;
    height:100%;
    background:#f2eaff;
    border-radius:10px;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:25px;
}

.container .content .content-section-title{
    width:fit-content;
    height:40px;
    font-family: 'Titillium Web', sans-serif;
    pointer-events: none;
}

.container .content .content-section-title h2{
    color:#954eff;
    font-family: 'Righteous', cursive;
}

.container .content .content-section-title span{
    color:#18003d;
}

.container .content .content-section-title h2::after{
    content:'';
    width:57%;
    height:2px;
    border-radius:10px;
    background:#954eff;
    display:block;
}

/* dashboard section */
.container .content .dashboard-content{
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 20px;
}

.container .content .dashboard-content .show-number-box{
    background:#fff;
    padding:10px 5px ;
    height:fit-content;
    text-align:center;
    position:relative;
    border-radius:10px;
}

.container .content .dashboard-content .show-number-box span{
    background:#fff;
    display:block;
    border-radius:50% 50% 0 0;
    color:#810CA8;
    width:60px;
    height:60px;
    font-size:1.5rem;
    line-height:60px;
    border-bottom:2px solid #810CA8;
    position:absolute;
    top:-30px;
    left:50%;
    transform:translateX(-50%);
}

.container .content .dashboard-content .show-number-box .box-show-number-box{
    margin-top:25px;
    font-family: sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    gap:10px;
}

.container .dashboard-content .show-number-box .box-show-number-box .box-title{
    color:rgb(144, 144, 144);
}
.container .dashboard-content .show-number-box .box-show-number-box .box-number{
    font-family: 'Varela Round' , sans-serif;
    color:#810CA8;
    font-size:1.6rem;
}

.container .content .dashboard-content .recent-purcahses{
    grid-column:1/3;
}

.container .content .dashboard-content .all-users{
    grid-column:3/-1;
}

.container .content .dashboard-content .users-list{
    background:#fff;
    grid-row:2/-1;
    border-radius:10px;
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    max-height:352px;
    gap:10px;
}

.container .content .dashboard-content .users-list .table-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 5px;
}

.container .content .dashboard-content .users-list .table-title h2{
    color:#460C68;
    font-family: 'Righteous', cursive;
}

.container .content .dashboard-content .users-list .table-title button{
    background:none;
    border:none;
    cursor:pointer;
    transition: 0.2s ease-out;
    border-radius:5px;
}

.container .content .dashboard-content .users-list .table-title button:hover{
    background:#e3d0ff;
}

.container .content .dashboard-content .users-list .table-title span{
    font-size:2rem;
    color:#6600ff;

}
.container .content .dashboard-content .users-list .purchases-list table, 
.container .content .dashboard-content .users-list .user-list table{ 
    width:100%;
    padding:5px;
    text-align:center;
    background:#f9f6ff;
    border-radius:5px;
}

.container .content .dashboard-content .users-list .purchases-list,
.container .content .dashboard-content .users-list .user-list
{
    max-height:400px;
    overflow: hidden;
}

.container .content .dashboard-content .users-list .purchases-list table thead th,
.container .content .dashboard-content .users-list .user-list table thead th{
    color:#7F167F;
    border-right:2px solid #7F167F;
    font-family: 'Righteous', cursive;
    font-size:1.2rem;
}

.container .content .dashboard-content .users-list .purchases-list table tbody td,
.container .content .dashboard-content .users-list .user-list table tbody td{
    color:#e690bc;
    padding:5px 0;
    font-family: 'Righteous', cursive;
    font-size:1.1rem;
}

.container .content .dashboard-content .users-list .purchases-list table thead th:nth-child(1),
.container .content .dashboard-content .users-list .user-list table thead th:nth-child(1){
    border-left:1px solid #7F167F;
}


/* customers ,stores ,tickets section */
.customers-content,
.stores-content,
.tickets-content{
    position:relative;
    height:100%;
    display:flex;
    flex-direction: column;
    gap:30px;
}

.customers-content .serachbar,
.stores-content .serachbar,
.tickets-content .serachbar{
    position:absolute;
    max-width:400px;
    right:0;
    top:-60px;
    max-height:40px;
    right:20px;
}

.customers-content #search-input,
.stores-content #search-input,
.tickets-content #search-input{
    width:400px;
    height:40px;
    border-radius:10px;
    background:none;
    outline:none;
    padding:2px 10px;
    font-size:1.5rem;
    color:#7336ce;
    border:2px solid #3b0084;
}

.customers-content #search-input::placeholder,
.stores-content #search-input::placeholder,
.tickets-content #search-input::placeholder{
    color:#6a0afb;
}

.customers-content span,
.stores-content span,
.tickets-content span{
    position:absolute;
    right:0;
    height:100%;
    padding:10px;
    border-radius: 0 10px 10px 0;
    background:#3b0084;
    color:#ebd8ff;
    cursor:pointer;
}

.customers-content .customers-table,
.stores-content .stores-table,
.tickets-content .tickets-table{
    width:100%;
    height:100%;
    background:#fff;
    border-radius:10px;
    overflow-y:scroll;
    max-height:500px;
}

.customers-content .customers-table table,
.stores-content .stores-table table,
.tickets-content .tickets-table table{
    width:100%;
    text-align:center;
}

.customers-content .customers-table table thead th,
.stores-content .stores-table table thead th,
.tickets-content .tickets-table table thead th{
    border-right:2px solid #3e0396;
    outline:2px solid #3e0396;
    color:#d9c0ff;
    font-family: 'Righteous', cursive;
    font-size:1.25rem;
}

.customers-content .customers-table table thead,
.stores-content .stores-table table thead,
.tickets-content .tickets-table table thead{
    background:#3e0396;
    width:100%;
}


.customers-content .customers-table table tbody td,
.stores-content .stores-table table tbody td,
.tickets-content .tickets-table table tbody td{
    color:#8e46fb;
    padding:7.5px 0;
    font-family: 'Righteous', cursive;
    transition:0.15s ease-out;
}

.customers-content .customers-table table tbody tr:hover,
.stores-content .stores-table table tbody tr:hover,
.tickets-content .tickets-table table tbody tr:hover{
    background:#d8b3ff;
}

.tickets-content select {
    background:#6600ff;
    color:#e5d3ff;
    padding:5px 10px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

/* add stores section*/

.add-content{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:25px;
}

.add-content form{
    padding:25px 10px;
    border:2px solid #6600ff;
    border-radius:10px;
    position:relative;
    text-align:center;
}

.add-content form h2{
    color:#6600ff;
    background:#f2eaff;
    padding:0 10px;
    font-family: 'Lobster', cursive;
    position:absolute;
    top:-20px;
    left:20px;
}

.add-content form .inputs{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}
.add-content form .input{
    position:relative;
}

.add-content .modal{
    display:none;
    text-align:center;
    font-size:1rem;
    border-radius:10px;
    background:red;
    font-family: 'Titillium Web', sans-serif;
    color:#f2eaff;
}

.add-content .modal ul {
    list-style:none;
}
.add-content form .input input{
    width:100%;
    font-size:1.2rem;
    color:#6600ff;
    padding:5px 10px;
    background: none;
    border:1px solid rgb(119, 32, 249);
    outline:none;
    border-radius:10px;
}

.add-content form .input .input-title{
    display:inline-block;
    position:absolute;
    left:15px;
    top:-10px;
    background:#f2eaff;
    color:rgb(119, 32, 249);
    padding:0 10px;
}

.add-content form select{
    background:#6a0afb;
    width:100%;
    border-radius:10px;
    border:none;
    color:#f2eaff;
    cursor:pointer;
    padding:5px 20px;
    font-size:1rem;
}

.add-content .add-ticket{
    padding:40px 10px;
}

.add-content form .input-category .input-title{
    background:none;
    top:-20px;
    left:0;
}

.add-content form .input .star{
    color:rgb(186, 0, 0);
    position:absolute;
    top:-15px;
    right:10px;
}

.add-content form .addStore-btn,
.add-content form .addTicket-btn{
    margin-top:20px;
    background:#7336ce;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
    color:#f2eaff;
}

.add-content .add-store .add-store-tips ul{
    background:#4800b4;
    width:100%;
    margin:20px 0;
    list-style: none;
    padding:5px 10px;
    border-radius:10px;
}

.add-content .add-store .add-store-tips li{
    color:#d5b9ff;
    font-family: 'Righteous', cursive;
}
/* icons */
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 200,
    'opsz' 48;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}