@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container {
    display:flex;
    align-items:flex-start;
    gap:15px;
    height:100vh;
    background:rgba(243, 243, 243, 0.704);
}

.container .userPanel-menu{
    height:100vh;
    width:100px;
    min-width:fit-content;
    padding:20px;
    background:rgb(29, 29, 29);
}

.container .userPanel-menu ul a{
    text-decoration:none;
    display:inline-block;
    width:100%;
}

.container .userPanel-menu ul li{
    color:#fff;
    font-size:1rem;
    padding:10px;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    gap:10px;
    font-family: 'Righteous', cursive;
    border-radius:5px;
    transition: 0.15s ease-out;
}

.container .userPanel-menu ul li:hover{
    background:rgba(184, 184, 184, 0.582);
}
.container .userPanel-menu ul li.active{
    background:rgba(112, 112, 112, 0.582);
}

.container .userPanel-menu ul{
    list-style:none;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

.container .userPanel-menu ul .top-menu{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    gap:10px;
}

.container .userPanel-menu ul .top-menu li{
    color:#fff;
}

.container .userPanel-menu ul .bottom-menu{
    border-top:1px solid rgb(136, 136, 136);
    width:100%;
    padding:5px 0px;
}

.container .userPanel-menu ul .bottom-menu li span{
    color:rgb(196, 0, 0);
}


/* content */

.container .content{
    width:calc(100% - 15px);
    height:100%;
    padding:0 10px;
}

.container .content .sections{
    color:rgb(139, 139, 139);
    position:relative;
    top:2.5px;
    left:-10px;
}

.container .content .sections a{
    color:#6e0eff;
    text-decoration:none;
    transition:color 0.15s ease-out;
}

.container .content .sections a:last-child{
    color:rgb(139, 139, 139);
}

.container .content .sections a:hover:not(.container .sections a:last-child){
    color:#8432ff;
}

/* user profile section */

.container .content .user-profile{
    border-radius:12px;
    padding:10px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap:10px;
    height:95%;
}

.container .content .user-profile .user-change-informations{
    grid-column:1/3;
    grid-row: 1/-1;
    background:#fff;
    box-shadow: 0 0 100px 5px rgba(0,0,0,.2);
    border-radius:22px;
    padding:10px 15px 20px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    gap:40px;
}

.container .content .user-change-informations .user-informations-title{
    color:rgb(20, 20, 20);
    font-family: 'MuseoModerno', cursive;

}

.user-profile .user-informations-inputs {
    width:100%;
    position:relative;
    top:-10px;
}

.user-profile .user-informations-inputs .tips{
    background:rgb(57, 57, 57);
    color:#fff;
    text-align:center;
    padding:10px;
    border-radius:12px;
    margin-bottom:50px;
    list-style:none;
}

.user-profile .user-informations-inputs .tips .tip{
    padding:2px 0;
    font-family: 'Radio Canada', sans-serif;
}

.user-profile .user-informations-inputs .inputs{
    margin-top:40px;
}

.user-change-informations .user-informations-inputs .inputs{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(3,1fr);
    gap:40px;
}

.user-change-informations .user-informations-inputs .inputs .input{
    position:relative;
}

.user-profile .user-change-informations .user-informations-inputs .inputs .input input{
    width:100%;
    border-radius:5px;
    border:1px solid rgba(0,0,0,0.2);
    background:none;
    outline:none;
    padding:8px ;
}

.user-informations-inputs .inputs .input input::placeholder{
    color:rgba(0, 0, 0, 0.7);
}

.user-profile .user-change-informations .user-informations-inputs .inputs .input span{
    position:absolute;
    top:-25px;
    left:0;
    color:rgba(26, 26, 26, 0.76);
    font-family: 'Radio Canada', sans-serif;
}

.user-profile .user-change-informations .user-informations-inputs .submit{
    background:#000;
    color:#fff;
    padding:10px 20px;
    border:none;
    cursor:pointer;
    margin-top:20px;
    border-radius:5px;
    transition:0.15s ease-out;
}

.user-profile .user-change-informations .user-informations-inputs .submit:hover{
    background:rgb(52, 52, 52);
}

.user-profile .user-change-informations .modal{
    background:#90f97d;
    color:#fefefe;
    font-family: 'Radio Canada', sans-serif;

    transition:0.15s ease-out;
    padding:10px 20px;
    border-radius:12px;
    margin:10px auto;
    font-size:1.5rem;
}


/* user information  */
.content .user-profile .user-informations {
    background:rgb(57, 57, 57);
    padding:10px 20px;
    border-radius:5px;
    grid-column:3/-1;
    grid-row:1/3;
    border-radius:22px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.content .user-profile .user-informations .user-profile-icon{
    background:#fff;
    width:100px;
    height:100px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items: center;
    pointer-events:none;
    margin:0 auto;
}

.content .user-profile .user-informations .user-profile-icon span{
    font-size:4rem;
}

.content .user-profile .user-informations .user-info{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 0;
    color:#fefefe;
}

.content .user-profile .user-informations  .user-info:not(.content .user-informations .user-info:last-child){
    border-bottom:1px solid #fefefe;
}


/* purchased ticket shortcut */
.content .user-profile .user-purchased-ticket-sc{
    background:#fff;
    grid-column:3/-1;
    grid-row:3/-1;
    border-radius:22px;
    overflow:hidden;
}

.content .user-profile .user-purchased-ticket-sc table{
    width:100%;
    text-align:center;
}

.content .user-profile .user-purchased-ticket-sc table thead th{
    border-right:2px solid rgb(57, 57, 57);
    outline:2px solid rgb(57, 57, 57);
    color:#ffffff;
    font-family: 'Righteous', cursive;
    font-size:1.1rem;
    padding:2.5px;
}

.content .user-profile .user-purchased-ticket-sc table thead{
    background:rgb(57, 57, 57);
    width:100%;
}

.content .user-profile .user-purchased-ticket-sc table tbody td{
    color:#414141e3;
    padding:7.5px 0;
    font-family: 'Righteous', cursive;
    transition:0.15s ease-out;
}

.content .user-profile .user-purchased-ticket-sc table tbody tr:hover{
    background:#cfcfcfc4;
}

/* purchased tickets Section */

.content .user-purchased-tickets{
    background:#fff;
    border-radius:22px;
    margin-top:25px;
    overflow-x:hidden;
    overflow-y:scroll;
    height:90%;
}

.content .user-purchased-tickets table{
    border-radius:22px;
    width:100%;
    text-align:center;
}

.content .user-purchased-tickets table thead th{
    border-right:2px solid rgb(57, 57, 57);
    outline:2px solid rgb(57, 57, 57);
    color:#ffffff;
    font-family: 'Radio Canada', sans-serif;
    font-size:1.1rem;
    padding:2.5px;
}

.content .user-purchased-tickets table thead{
    background:rgb(57, 57, 57);
    width:100%;
}

.content .user-purchased-tickets table tbody td{
    color:#414141e3;
    padding:7.5px 0;
    font-family: 'Radio Canada', sans-serif;
    transition:0.15s ease-out;
}

.content .user-purchased-tickets table tbody tr:hover{
    background:#cfcfcfc4;
}

.content .user-purchased-tickets table tbody td .show-ticket-btn{
    background:rgb(57, 57, 57);
    color:#fff;
    border:none;
    padding:10px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Radio Canada', sans-serif;
    transition: 0.15s ease-out;
}

.content .user-purchased-tickets table tbody td .show-ticket-btn:hover{
    background:rgb(84, 84, 84);
}

/* user shopping cart section */
.content .user-shopping-cart{
    background:#fff;
    border-radius:22px;
    margin-top:25px;
    height:90vh;
    padding:15px 30px;
    position:relative;
}

.content .user-shopping-cart .user-shopping-cart-title{
    padding:20px 5px;
    font-size:1.5rem;
    font-family: 'Radio Canada', sans-serif;
    color:rgb(57, 57, 57);;
}

.content .user-shopping-cart .user-shopping-cart-content{ 
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding:10px 0;
    font-family:'Radio Canada', sans-serif;
    gap:20px;
}

/* user shopping cart left content */
.content .user-shopping-cart .user-shopping-cart-content .left-content{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    flex-basis:30%;
    height:100%;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .price-title{
    color:rgb(134, 134, 134);
    font-size:0.75rem;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .allPrice{
    color:#000;
    font-size:1.5rem;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .allPrice span{
    color:rgb(134, 134, 134);
    font-size:0.9rem;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .purchase-tips{
    margin-top:15px;
    background:rgb(41, 41, 41);
    padding:10px 5px;
    border-radius:10px;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .purchase-tips .purchase-tips-title{
    color:#fefefe;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .purchase-tips ul{
    margin-top:10px;
    list-style:none;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .purchase-tips ul li span{
    color:rgb(134, 134, 134);
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .purchase-tips ul li{
    padding:3px 0;
    color:rgb(134, 134, 134);
    text-align:justify;
}


/* shopping card details */
.content .user-shopping-cart .user-shopping-cart-content .right-content{
    flex-basis:70%;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:15px 0; 
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail:not(.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail:last-child){
    border-bottom:1px solid rgba(134, 134, 134, 0.36);
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-img{
    width:175px;
    height:100px;
    border-radius:5px;
    overflow: hidden;
}
.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-img img{
    width:100%;
    height:100%;
}
.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-titles{
    color:rgb(134, 134, 134);
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-titles .ticket-title{
    color:#000;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count .ticket-count-icon{
    color:rgb(134, 134, 134);
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-delete,
.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count .ticket-count-icon{
    cursor:pointer;
    padding:5px 10px;
    border-radius:10px;
    transition:0.15s ease-out;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-delete:hover,
.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count .ticket-count-icon:hover{
    background:rgba(217, 217, 217, 0.23);
}


/* icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}